*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
}

.sign-in{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #006A50;
    font-weight: bold;
    color: #006A50;
    font-size: 18px;
}
.logo{
    font-size: 32px;
}

.banner-container{
    width: 100%;
    height: 60vh;
    background-image: url(./UI/banner.png);
    background-repeat: no-repeat;
    padding: 80px 100px;
}

.vision-container{
    text-align: center;
    padding: 50px;
}

.digital-box{
    text-align: justify;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #D5E1F1;
    border-radius: 5px;
}

.green-box{
    text-align: justify;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #C6E4D6;
    border-radius: 5px;
}

.modern{
    text-align: justify;
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: #F7EBCF;
    border-radius: 5px;
    
}

.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 32px;
    gap: 24px;

}

.box-container img{
    margin-bottom: 20px;
}