

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0px;
    padding: 0px;
    /* background-color: #F5F5F5; */
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


body{
    margin: 0px 100px;
}

.sign-in{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #006A50;
    font-weight: bold;
    color: #006A50;
    font-size: 18px;
}

.sign-in:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


.logo{
    font-size: 32px;
}

.banner-container{
    max-width: 100%;
    height: auto;
    /* background-image: url(./UI/banner.png); */
    /* margin: 0 auto; */
    background-position:center;
    
}

.banner-container img{
    max-width: 100%;
    height: auto; ;
    margin-bottom: 20px;
}



.vision-container{
    text-align: center;
    /* padding: 50px; */
}

.description{
    text-align: left;
    margin-top: 50px;

}

.description h1{
    margin-bottom: 20px;
}



.digital-box{
    text-align: justify;
    width: 400px;
    height: 250px;
    padding: 24px;
    background-color: #D5E1F1;
    border-radius: 16px;
    
}
.digital-box button{
    background-color: #5490F5;
    color: #FFFFFF;
    border: none;
}

.green-box{
    text-align: justify;
    width: 400px;
    height: 250px;
    padding: 24px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.green-box button{
    background-color: #09A15C;
    color: #FFFFFF;
    border: none;

}

.modern{
    text-align: justify;
    width: 400px;
    height: 250px;
    padding: 24px;
    background-color: #F7EBCF;
    border-radius: 16px;

}
.modern button{
    background-color: #FFC239;
    color: #FFFFFF;
    border: none;

}

.button-design{
    margin-top: 50px;
    padding: 7px;
    border-radius: 8px;
    
}

.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 32px;
    gap: 24px;

}

.box-container img{
    margin-bottom: 20px;
}

.yunus-speech{
    border: 1px solid gray;
    padding: 48px 24px;
    border-radius: 16px;
    text-align: justify;
    margin-bottom: 80px;
    background-image:  url(./assets/quote-bg.png) ;
    background-repeat: no-repeat;
    
    
}



.recent-news{
    margin-bottom: 32px;
}

.box1,.box3{
    display: flex;
    align-items: center;
    padding: 48px;
    gap: 30px;
    border-radius: 24px;
    box-shadow: 10px 10px 10px 10px hsl(150, 9%, 87%);
}

.box2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    padding: 48px;
    gap: 30px;
    box-shadow: 10px 10px 10px 10px hsl(150, 9%, 87%);
}

.box1-right img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.box2-right img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.box3-right img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.box-button{
    background-color: #006A50;
    color: white;
    border-radius: 7px;
    padding: 10px 20px;
    align-content: end;
    font-weight: 600;
}

.donate{
    margin: 80px 0px;
    text-align: center;
    
}
.donate-amount{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 20px 0;

}

.donate-button{
    background-color: #91c5c9;
    color: #000000;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.donate-button.active {
    background-color: #2e7d32;
    color: #fff;
  }

  .donate-input {
    padding: 15px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px 0;
    text-align: center;
  }

  .btn{
    background-color: #006A50;
    color: #fff;
  }

  .button-2{
    padding: 10px;
    border-radius: 0px 8px 8px 0;
  }

  .do-button-2{
    padding: 10px;
    border-radius: 8px;
  }

  .newsletter {
    padding: 40px 0;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin-bottom: 80px;
  }

  .newsletter-input {
    padding: 10px;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 4px 0 4px 4px;
  }

  .form-design{
    display:flex;
    justify-content: center;
  }

  .news-box {
    text-align: center;
  }


footer{
    display:block;
    align-items: center;
    padding: 50px 160px;
    text-align: center;
}

.line{
    border-bottom: 4px solid #f8f6f6;
    width: auto;
    display: block;
}



